extend layout

block content
  section
    button#generate(onclick='playRandomAudio()') Play!
    button#answer(onclick='displaySynth()', disabled) Which synth is it?
    #info Your options are: 505, 606, 707, 727, 808, 909
    #result
