/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main styles */

@font-face {
  font-family: 'commandocommando';
  src: url('/fonts/commando-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  position: relative;
  text-align: center;
}

body {
  background-color: #111;
  color: #eee;
  font-family: commandocommando;
}

header {
  background-color: rgba(3, 3, 3, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  padding: 5px;
  z-index: 2;
  font-size: 3rem;
}

header a {
  text-decoration: none;
  color: #94aab6;
}

#wrapper {
  padding-top: 90px;
}

#wrapper, footer {
  position: relative;
  max-width: 1000px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.inner {
  padding: 10px;
}

.hide {
  display: none;
}

#loader {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.9);
  color: #eee;
  text-align: center;
  font-size: 2rem;
  line-height: 5rem;
  padding-top: 20px;
}

button {
  background-color: #6cc6f9;
  color: #eee;
  border: 0;
  border-radius: 5px;
  padding: 20px 0;
  width: 70%;
  font-size: 4.5rem;
  margin: 10px 0;
  cursor: pointer;
  font-family: commandocommando;
}

button:focus, button:hover {
  background-color: #eee;
  color: #6cc6f9;
}

button[disabled] {
  color: #222;
  cursor: default;
  background-color: rgba(30, 30, 30, 0.5);
}

#info {
  font-size: 2rem;
  color: #777;
}

#result {
  font-size: 10rem;
  margin: 20px 0;
  color: #f8ff2d;
}
